<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="2" >
<listeners>
<listener class-name="pageObject.listeners"/>
<listener class-name="resources.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="Test">
  <groups>
  <run>
  <include name = "smoke"/>
   
  </run>
  </groups>
    <classes>
      <class name="pageObject.LoginTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
